<aside class="custom-navbar">
    <app-tool class="tool" *ngFor="let tool of tools" [tool]="tool"
    [active]="isButtonActive(tool.cls.toolName)"
    (toolClicked)="onToolClicked($event)"
    ></app-tool>
    <app-unselectable-tool class="unselectableTool" *ngFor="let nonSelectableTool of nonSelectableTools"
    [unselectableTool]="nonSelectableTool"
    [id]="nonSelectableTool.cls.toolName"
    (unselectableToolClicked)="onUnselectableToolClicked($event)">
    </app-unselectable-tool>
</aside>