mat-sidenav-container {
    height: 100vh;
    width: 100%;

    overflow: visible;
}

mat-sidenav {
    background-color: #b5b5b9;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50%;
    overflow: visible
}

.color-picker-btn {
    border: none;
}