ill-app-canvas {
    display: inline-flex;
    width: 92%;
    height: 95%;
}

ill-app-tools-sidebar {
    display: inline-flex;
    width: 4%;
    height: 95%;
}

ill-app-tool-configuration {
    display: inline-flex;
    width: 4%;
    height: 95%;
}

ill-app-system-bar {
    display: inline-flex;
    width: 100%;
    height: 5%;
    background: #dee5f2;
}

.eraser {
    cursor: url('/assets/customSVG/eraser-small.svg'), auto;
}