ill-app-canvas {
    display: inline-flex;
    flex: 1;
}

ill-app-tools-sidebar {
    display: inline-flex;
    flex: 0;
}

ill-app-tool-configuration {
    display: inline-flex;
    flex: 0;
}

ill-app-system-bar {
    display: flex;
}

.canvas-container {
    display: flex;
    height: 100%;
}

.eraser {
    cursor: url('/assets/customSVG/eraser-small.svg'), auto;
}