ill-app-canvas {
    flex: 1;
    /* padding: 30px */
}

ill-app-tools-sidebar {
    flex: 0;
}

ill-app-tool-configuration {
    flex: 0;
}

ill-app-system-bar {
    display: flex;
    flex: 0;
}

.canvas-container {
    display: flex;
    flex: 1;
}

.eraser {
    cursor: url('/assets/customSVG/eraser-small.svg'), auto;
}

.custom-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: visible
}