<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div class="content">

            <section>
                <h3> Thick </h3>
                <mat-button-toggle-group [(ngModel)]="config.thickness" aria-label="thickness" (ngModelChange)="onThicknessChange($event)">
                    <mat-button-toggle [value]="3" id="high" [ngClass]="{'active': config.thickness === 3}"></mat-button-toggle>
                    <mat-button-toggle [value]="2" id="medium" [ngClass]="{'active': config.thickness === 2}"></mat-button-toggle>
                    <mat-button-toggle [value]="1" id="low" [ngClass]="{'active': config.thickness === 1}"></mat-button-toggle>
                </mat-button-toggle-group>
            </section>
        
            <section>
                <h3> Color </h3>
                <input [colorPicker]="config.color" [style.background]="config.color" (colorPickerSelect)="onColorSelect($event)"/>
            </section>

        </div>
    </mat-sidenav>
</mat-sidenav-container>