/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
    background-color: #626c84;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* overflow: hidden; */
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    background-color: #9baed9;
}

button:hover,
button.active {
    background-color: #4b74ef;
}


mat-sidenav {
    background-color: #171A21;
    overflow: visible;
}


mat-sidenav-container {
    height: 100%;
    overflow: visible !important;
}

.custom-navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: visible;
    background-color: #171A21;
    border-radius: 50px;
    margin: 20px;
    padding: 20px 12px;
    filter: drop-shadow(0 0 0.35rem black);
    color: #7A93AC;
}