/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    display: block;
    height: 100vh;
}
button {
    background-color: #7A93AC;
}

button:hover, button.active{
    background-color: #E4FDE1;
}


mat-sidenav{
    background-color: #171A21;
    width: 80%;
    border-radius: 50px;
    overflow: visible;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-right: 3%;
    padding-left: 3%;
    filter: drop-shadow(0 0 0.35rem black);
    color: #7A93AC;
}


mat-sidenav-container {
    width: 100%;

    overflow: visible !important;
    display: flex !important;
    justify-content: center;
    background-color: #DFE6F3;
}

